@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: md-get-palette-color(cyan, 500),
  accent: md-get-palette-color(cyan, A200),
  theme: dark
));

@import "~vue-material/dist/theme/all";